.form-container {
    width: 500px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid rgba(149, 160, 167, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 15px 15px 0 0 #FFE0B3;
}

.form-title {
    font-size: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2A414F;
    text-align: center;
}

.input-group label {
    display: block;
    margin-top: 15px;
}

.input-group input {
    width: 415px;
    height: 55px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #95A0A7;
    font-size: 24px;
}

.form-button {
    background-color: rgba(255, 153, 0, 0.3);
    width: 415px;
    height: 55px;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.form-button:hover {
    background-color: rgba(255, 153, 0, 0.6)
}

.newAccount {
    font-size: 18px;
    margin-top: 15px;

}

.newAccount a {
    text-decoration: none;
    color: #FF9900;
}

.orContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.or {
    margin: 0 5px;
}

.orLine {
    width: 145px;

}

.googleSignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 415px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #95A0A7;
    cursor: pointer;
    margin-bottom: 15px;
    background-color: white;
}

.googleSignIn img {
    width: 32px;
}

.googleSignIn p {
    font-size: 18px;
    margin-left: 8px;
}